extends ./layouts/application.pug

block content
    .jumbotron
        h1 Welcome!
        p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam nisl in nibh pharetra, in ornare libero egestas. Cras vitae arcu sodales, sodales magna non, feugiat tellus. Nam euismod erat faucibus accumsan ornare. Suspendisse condimentum tempus turpis, vitae placerat ipsum porta in. Mauris in ante feugiat, elementum tortor ut, congue massa. Nulla in ex a lacus lobortis facilisis. Sed hendrerit dolor elit, id malesuada odio dictum in. Duis in libero sed justo sodales dapibus.
