extends ../layouts/application.pug

block content
    .m-auto.w-50
        h1.h3.mb-3.font-weight-normal.text-center= t('views.tasks.edit.title')
        form(method='POST' action=`/tasks/${task.id}`)
            input(type="hidden" name="_method" value="PATCH")
            +input(task, 'name', errors, t('views.tasks.name'))(type="text" required autofocus)
            +textarea(task, 'description', errors, t('views.tasks.description'))(rows=3)
            +select(task, 'statusId', statuses, errors, t('views.tasks.status'))
            +select(task, 'executorId', users, errors, t('views.tasks.executor'))
            +multiselect(task, 'labels', labels, errors, t('views.tasks.labels'))
            +submit(t('views.tasks.edit.submit'))
